h1,h3{
    color:blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
h1{
    color: darkgreen;
    background-color:goldenrod;
}
h3{
    color: green;
    background-color: honeydew;
}
dt{
    color: green;
}
*{
    background-color:floralwhite;
}
