.menus{
    display: flex;
    background-color:darkslategray;
}
.column1{
    width: 25%;
    background-color:dimgray;
}
.column2{
    width: 50%;
    background-color: gray;
}
.column3{
    width: 25%;
    background-color: lightgrey;
}

.menu{
    width:auto;
    border: 1px solid black;
    color: white;
    padding: 10px;

}
.columns{
    display: flex;
}
h1{
    background-color:lightskyblue;
    text-align: center;
    margin:0;
}
footer{
    text-align: center;
    background-color:darkslategray;
}
.page-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}